<mat-toolbar><h2 class="text-dark text-muted"><span style="margin-left: 100%; font-size:xx-large; font-family: 'Times New Roman', Times, serif;font-weight: bold;
    color: antiquewhite;">ADD NEW TASK</span></h2></mat-toolbar>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <form ................>
              <div class="mb-3">
                <h2 style="margin-left: 20;">Create new Tasks</h2>
              </div>
  
              <div class="main">
  
  
  
                <div class="input-fields" class="mb-3"   >
                  <label for="visually-hidden" class="form-label">Select Project name</label>&nbsp;
                  <select class="form-select" name="Projectname"   id="Projectname" type="text" class="input-field" >
                    <option  [disabled]="">Choose Project Name</option>
                    
  
                  </select>
                </div>
  
  
  
                <div class="input-fields" class="mb-3">
                  <label for="visually-hidden" class="form-label">	Task ID   </label>&nbsp;<br>
                  <input name="TaskID"  placeholder="Enter the Task ID" id="TaskID" type="text" class="input-field" />
                </div>
  
                <div class="input-fields" class="mb-3">
                  <label for="visually-hidden" class="form-label">	Tasks name  </label>&nbsp;
                  <input name="tasksname"  placeholder="Enter the Tasks name" id="tasksname" type="text" class="input-field" />
                </div>
  
                <div class="input-fields" class="mb-3">
                  <label for="visually-hidden" class="form-label">Tasks description </label>&nbsp;
                  <input name="description "  placeholder="Enter the Tasks description" id="description" type="text" class="input-field" />
                </div>
  
                <div class="input-fields" class="mb-3">
                  <label for="visually-hidden" class="form-label"> Tasks Due date  </label>&nbsp;
                  <input name="dueDate "  placeholder="Enter the Tasks Due date " id="dueDate " type="date"format="MM/DD/YYYY" class="input-field" />
                </div>
  
                <div class="button">
                    <input type="submit" class="btn btn-primary" name="submit" value="Submit">
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  
  </div>
  