<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
  </button>

  <a mat-button class="menu-button" href="register">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
  </a>
  <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>settings</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>logout</mat-icon>
    <span>LogOut</span>
</button>
<a mat-button class="menu-button" href="calendar">
  <mat-icon>schedule</mat-icon>
  <span>Schedule</span>
</a>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="pmsToolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">PERFORMANCE MANAGANEMENT SYSTEM</span>
    </mat-toolbar>

    <app-dashboard></app-dashboard>

  </mat-sidenav-content>
</mat-sidenav-container>
