.profile-image > img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(36, 7, 141);
    border-radius: 4px;
  }
  h2{
    color: rgb(6, 5, 90);
  }
  
  btn btn-primary{
    background-color: #1d04aa;
    border: none;
    color: white;
  
  
    cursor: pointer;
  }
  .mat-toolbar{
    background: #1d04aa;
    color:white;
  }
  select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(36, 7, 141);
    border-radius: 4px;
  }
  
  label{
    color:black;
    font-weight: 500;
  
      padding: 8px;
    }
  
  