<mat-toolbar><h2 class="text-dark text-muted"><span style="margin-left: 100%; font-size:xx-large; font-family: 'Times New Roman', Times, serif;font-weight: bold;
    color: antiquewhite;">VIEW TASK</span></h2></mat-toolbar>
  
  
  <table style="width:100%">
    <tr>
      <th>Project Name</th>
      <th> Task ID</th>
      <th>Task Name</th>
      <th> Decription</th>
      <th>Due Date </th>
      <th>Who Do Task</th>
  
    </tr>
    <tr *ngFor="let item of task">
      <td>{{item.projectName}}</td>
      <td>{{item.taskId}}</td>
      <td>{{item.taskName}}</td>
      <td>{{item.taskDescription }}</td>
      <td>{{item.taskDueDate  }}</td>
      <td>{{item.whoDoTask  }}</td>

      
    </tr>
  
  </table>
  
