.example-card {
    max-width: 400px;
  }
  mat-toolbar{
    background: #1d04aa;
    color:white;
    margin: 4px 2px;
  }
  .mat-raised-button{
    background-color: #1d04aa;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
   width: 80%;
  }