<div class="content">

</div>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>

    <mat-card class="example-card">
       <mat-card-title>TASK</mat-card-title>
       <mat-card-content>
        <p>Create New Task, View Task and Update Task</p>
       </mat-card-content>
       <mat-divider inset></mat-divider>
       <mat-card-actions>
        <a mat-raised-button href='/taskMenu' color="primary">EXPLORE</a>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">

      <mat-card-title>PERFORMANCE</mat-card-title>
      <mat-card-content>
       <p>This card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
       <a mat-raised-button href="performanceMenu" color="primary">EXPLORE</a>
     </mat-card-actions>
     <mat-card-footer>
       <mat-progress-bar mode="indeterminate"></mat-progress-bar>
     </mat-card-footer>
   </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>


    <mat-card class="example-card">
      <mat-card-title>PROJECT</mat-card-title>
      <mat-card-content>
       <p>This part you can view, create new and update project</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a mat-raised-button href='projectMenu' color="primary">EXPLORE</a>
     </mat-card-actions>
     <mat-card-footer>
       <mat-progress-bar mode="indeterminate"></mat-progress-bar>
     </mat-card-footer>
   </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

    <mat-card class="example-card">
      <mat-card-title>SETTINGS</mat-card-title>
      <mat-card-content>
       <p>This card has divider and indeterminate progress as footer</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
       <button mat-raised-button color="primary">EXPLORE</button>
     </mat-card-actions>
     <mat-card-footer>
       <mat-progress-bar mode="indeterminate"></mat-progress-bar>
     </mat-card-footer>
   </mat-card>

  </mat-grid-tile>
</mat-grid-list>

