<mat-toolbar >
    <h2 class="text-dark text-muted">
      <span style="margin-left: 100%; font-size:xx-large; font-family: 'Times New Roman', Times, serif;font-weight: bold;
    color: antiquewhite;">
    Task Management
    </span>
    </h2>
  </mat-toolbar>
  <mat-card class="example-card" style="margin-left: 38%;">
  
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/task' color="primary" >Create New Task</a>
    </mat-card-actions>
  
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/viewTask' color="primary">View Task</a>
    </mat-card-actions>
  
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/' color="primary">Update Task</a>
    </mat-card-actions>
  </mat-card>
  
  