<mat-toolbar >
    <h2 class="text-dark text-muted">
      <span style="margin-left: 10%; font-size:xx-large; font-family: 'Times New Roman', Times, serif;font-weight: bold;
    color: antiquewhite;">
    Project Management
    </span>
    </h2>
    </mat-toolbar>
  <mat-card class="example-card" style="margin-left: 38%;">
  
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/createProject' color="primary" >Create New Project</a>
    </mat-card-actions>
  
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/viewProject' color="primary">View Project</a>
    </mat-card-actions>

    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-raised-button href='/editProject' color="primary">Update Project</a>
    </mat-card-actions>
  
    <mat-divider inset></mat-divider>
    
  </mat-card>
  
